:root {
  // background colors
  --color-background-body: #111111;
  --color-background-container: #2D2D2D;
  --color-background-workspace: #444444;
  --color-background-default: #229BD9;
  --color-background-hover: #7FC6EC;

  //// text colors
  --color-text-default: rgba(255,255,255, 0.8);
  --color-text-btn: rgb(255,255,255);
  --color-text-subdued: rgba(255,255,255, 0.5);
  --color-text-critical: rgba(255,0,0, 0.8);
  --color-text-warm: #E8AA31;
}
//#E8AA31
